@charset "utf-8";

div#thumbnailContainer img {
    cursor: pointer;
    display: inline-grid;
    margin: 5px 5px 20px 5px;
    border: 1px solid lightgrey;
}

div#imgContainer {
    width: 640px;
    height: 412px;
}

div#imgContainer img {
    position: relative;
}

body {
    overflow-x: hidden;
}